/* *****ÃNDICE *****

---------- 
  ClASSES 
---------- 
.alert
.avisos
.brand
.container-fluid
.cor
.dropdown-menu
.editor
.form-group
.icon-bar
.login-dialog
.menu-hamburger
.modal-dialog
.navbar-brand
.navbar-inverse
.navbar-nav
.navbar-toggle
.num
.open
.perfil
.row
.trigger
.well

------------
  ELEMENTOS
------------ 
a 
body 
button 
div
fieldset 
input 
[disabled]
label 
legend 
li 
p 
span 
textarea 

------
  IDs
------
#estilo
#botaoArquivos
#botaoCadastro
#botaoEntrar
#botaoSair
#botaoSalvar 
#botaoPerfil
#botoes
#collapseMenu
#exibeSenhas
#footer

----------------
  MEDIA QUERIES
----------------
@media(min-width:389px) 
@media(min-width:450px) 
@media(min-width:768px) 
@media(max-width: 767px) 
@media(max-width:480px)  
@media(max-width:347px) 
@media(max-width: 320px) 
@media(max-width: 240px) 


*/


body{
	background-color: #e5e5e5;
    margin-top: 75px;
    letter-spacing: -0.05px;
}

.trigger:hover{
    cursor: pointer;
    color: #0A6EBD;
}

.avisos .alert {    
    border-radius: 0;
    margin-bottom: 10px;    
}

.well {
    background-color: #fff;
}


.editor input[type="color"] {
    border: 1px solid #757575;
    border-radius: 50%;
    height: 35px;
    padding: 10px;
    width: 35px;
    margin-top: -5px;
}

.editor .form-group textarea {
    background-color: #ffffff;
    border: 1px solid #c0c0c0;
    padding: 5px;
    resize: vertical;
    width: 100%;
}

.editor .form-group input[type="text"]{
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #c0c0c0;
    padding: 5px;
    border-radius: 0;
}

.editor .form-group label:hover {
    background-color: #f1f1f1;
    border-radius: 5px;
}

.perfil fieldset,
.editor fieldset {
    border: 1px solid #bdbdbd;
    padding: 0.35em 0.625em 0.75em;
    background-color: #fff;    
    margin-bottom: 20px;
}

.perfil legend,
.editor legend{
    border: none;
    color: #666;
    font-size: 14px;
    margin: 0;
    padding: 0 5px;
    text-transform: uppercase;
    width: auto;
}

.perfil .row > div{
    margin-bottom: 15px;
}

.perfil .form-group input[readonly]{
    color: #c0c0c0;
    text-align: center;
}

.perfil #exibeSenhas{
    cursor: pointer;
}

#collapseMenu .navbar-nav > li > a {
    padding-bottom: 10px;
    padding-top: 10px;
}
.navbar-inverse {
    background-color: #0a6ebd;
}

#collapseMenu {
    background-color: #2196f3;
    left: 0;
    position: fixed;
    right: 0;
    top: 64px;
    z-index: 1029;
    text-transform: uppercase;
    opacity: 0.9;
}

.nav > li > a:hover,
.nav > li > a:focus {
    background-color: #0a6ebd;
}

.navbar{
    margin-bottom: 0;
}

.navbar-inverse a.menu-hamburger{
    font-size: 22px;
    height: 100%;
    float: right;
    min-height: 1px;
    padding: 10px 15px;    
    position: relative;
    text-align: center;
}

.menu-hamburger > .glyphicon {
    font-weight: lighter;
}

.navbar-inverse a.menu-hamburger {
    color: #b2dbfb;
}

.navbar-inverse .navbar-brand, 
.navbar-inverse .navbar-brand a,
.navbar-right a{
    color: #fff;
}

.navbar-inverse a.menu-hamburger:hover,
.navbar-inverse a.menu-hamburger:focus,
.navbar-right a:hover,
.navbar-right a:focus{
    color: #fff;
    text-decoration: none;
}

.navbar-header{
    opacity: 0.85;
}

.navbar-header:hover,
.navbar-header:focus{
    opacity: 1;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: rgba(255, 255, 255, 0.8);
}

.brand{
    padding: 5px 8px;
    float: left;
}


#estilo > label.cor{
    float: left;
    padding-right: 15px;
}

#botoes{
    margin-top: 15px;
}

#footer p {    
    font-size: 13px;
    line-height: 1.3;
    text-align: right;
}

#collapseMenu,
#collapseMenu li #botaoSalvar{
    font-weight: 500;
    color: #fff;
}

#botaoSalvar{
    border-radius: 0;
    text-align: left;
    width: 100%;
    clear: both;
    display: block;    
    line-height: 1.846;    
    white-space: nowrap;    
    font-size: 13px;
    padding: 10px 15px;
}

#collapseMenu li.active{
    background-color: #0a6ebd;
    color: #fff; 
}

#collapseMenu li:hover,
#collapseMenu li:focus,
#collapseMenu li:active:hover,
#botaoSalvar:hover,
#botaoSalvar:focus,
#botaoSalvar:active:hover
{
    background-color: #0a6ebd;
    color: #fff;    
    text-decoration: none;
}


/* MEDIA QUERIES */


@media(min-width:389px){
    #estilo > label.cor:after{
        content: " Cor";
    }    
}

@media(min-width:450px){
    .modal-dialog.login-dialog {
        margin-left: auto;
        margin-right: auto;
        width: 400px;
    }
}
/*
@media(min-width:768px){
    .modal-dialog.login-dialog {
        width: 400px;
    }
}*/

@media(max-width: 767px) {
    #botaoSalvar{
        padding: 10px 15px;    
    }
    
    .avisos {
        margin-top: 20px;
    }
    .container.editor {
        padding: 0;
        width: 100%;
    }
    .well{
        border-bottom: 1px solid #bdbdbd;
        margin-bottom: 10px;
        padding-bottom: 0;
    }

    #footer p {
        text-align: center;
    }

}

@media(max-width: 511px){
    .editor input[type="color"] {     
        height: 30px;
        width: 30px;
        margin-top: 0;
        padding: 5px
    }
}

@media(max-width: 471px){
    .cor > span{
        display: none;
    }
}

@media(max-width:480px){
    .editor input[type="color"] {
        height: 25px;
        padding: 5px;
        width: 25px;
        margin-top: 0;
    }
    .form-group.num {
        padding-left: 0;
        padding-right: 0;
    }
}

@media(max-width: 360px){
    .navbar-brand {
        font-size: 22px;
    }
}

@media(max-width:347px){
    .editor label.cor {
        padding: 0;
    }
}

@media(max-width: 320px){
    .navbar-brand {
        font-size: 18px;
        font-weight: bold;
        padding-left: 0;
        padding-right: 0;
    }
}

@media(max-width: 240px){
    .cor > span {
        display: none;
    }
    .navbar-brand {
        font-size: 15px;        
        line-height: 1.5;
        padding-left: 0;
        padding-right: 0;
    }
}